<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="../style/bootstrap.min.css">
</head>
<body>

<div id="navbarContainer"></div>

<div class="container mt-5">
    <h2>Student Details</h2>
    
    <div id="studentDetails"></div>
    
    <h3>Enrolled Courses</h3>
    <ul id="coursesList" class="list-group">
        <!-- Enrolled courses will be dynamically added here using JavaScript -->
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/student-details.js"></script>
</body>
</html>
